body{
    background-color: black;
    margin: 2%;
    color: aliceblue;
    font-family: 'Lato', sans-serif;
}

/*.header::after{
    content: '';
    height: 80vh;
    width: 100%;
    background-image: url(../Images/Logo2.png);
    background-image: url(../Images/Logo1.png);
    background-size: cover;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
}*/

.contaner{
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 3rem 1rem;
}

.grid-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
}

.text-center{
    text-align: center;
    margin: auto;
}

.card-title{
    color: blue;
   
}

.card-text{
    color: black;
    font-size: medium;
}


.card-text{
    color: black;
    font-size: medium;
}
.card-detail{
    color: rgba(3, 0, 0, 0.599);
    font-size: small;
}
.card{
   color:black;
}





footer{
    background-color: aliceblue;
    color: blue;
    padding: auto;
}

.slide{
        $carousel-control-color:             $white;
        $carousel-control-width:             15%;
        $carousel-control-opacity:           .5;
        $carousel-control-hover-opacity:     .9;
        $carousel-control-transition:        opacity .15s ease;

        $carousel-indicator-width:           30px;
        $carousel-indicator-height:          3px;
        $carousel-indicator-hit-area-height: 10px;
        $carousel-indicator-spacer:          3px;
        $carousel-indicator-opacity:         .5;
        $carousel-indicator-active-bg:       $white;
        $carousel-indicator-active-opacity:  1;
        $carousel-indicator-transition:      opacity .6s ease;

        $carousel-caption-width:             70%;
        $carousel-caption-color:             $white;
        $carousel-caption-padding-y:         1.25rem;
        $carousel-caption-spacer:            1.25rem;

        $carousel-control-icon-width:        2rem;

        $carousel-control-prev-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
        $carousel-control-next-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");

        $carousel-transition-duration:       .6s;
        $carousel-transition:                transform $carousel-transition-duration ease-in-out; // Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity .5s ease-out`)

        $carousel-dark-indicator-active-bg:  $black;
        $carousel-dark-caption-color:        $black;
        $carousel-dark-control-icon-filter:  invert(1) grayscale(100);
    }

/* RESPONSIVE */
@media(max-width: 667px){
    body{
        margin: 2%;
    }
    .header::after{
        height: 20vh;
        width 80% 
       
    }
 
    
    .grid-2{
        
        grid-column: .text-center;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
    .grid-2.foto {
        height: 50px;
        width: 50px;
    }
}
