body{
    background-color: black;
    margin: 10%;
    color: aliceblue;
    font-family: 'Lato', sans-serif;
}

.header::after{
    content: '';
    height: 80vh;
    width: 100%;
    background-image: url(../Images/Logo2.png);
    background-image: url(../Images/Logo1.png);
    background-size: cover;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
}

.contaner{
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 3rem 1rem;
}

.grid-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
}

.text-center{
    text-align: center;
    margin: auto;
}

footer{
    background-color: aliceblue;
    color: blue;
    padding: auto;
}

/* RESPONSIVE */
@media(max-width: 560px){
    body{
        margin: 2%;
    }
    .header::after{
        height: 20vh;
        width 80% 
       
    }
 
    
    .grid-2{
        width: 40%;
        grid-column: .text-center;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
    .grid-2.foto {
        height: 50px;
        width: 50px;
    }
}